Logbook==0.4.1
MySQL-python==1.2.4
argparse==1.2.1
coverage==3.6
cssselect==0.7.1
distribute==0.6.34
lxml==3.1beta1
nose==1.2.1
pep8==1.4
pyquery==1.2.4
python-dateutil==2.1
pytz==2012j
redis==2.7.2
requests==1.1.0
rq==0.3.2
six==1.2.0
times==0.6
wsgiref==0.1.2
sympy==0.7.2
